/* Put your CSS here */
html, body {
  background-color: #faf4f1;
  padding: 30px 20px;
  margin: 0;
}
ul li{
  list-style: none;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
}
.completed{
  text-decoration: line-through;
  color: #a9a9a9;
}
.edit{
  position: relative;
  width: 100%;
  line-height: 46px;
  margin-left: 54px;
  padding-left: 15px;
  outline: none;
  border: none;
  box-sizing: border-box;
}
.selected{
  font-weight: bold;
}
#header{
  text-align: center;
  text-transform: uppercase;
}
#header h1{
  margin: 0;
  padding: 0 5px 0 15px;
  letter-spacing: .3em;
  background-color: #8d7d77;
  color: #faf4f1;
  position: relative;
  display: inline-block;
}
#header h1 small{
  color: #595047;
  font-size: .3em;
  letter-spacing: .5em;
  font-weight: bold;
  position: absolute;
  top: 40px;
  right: 0;
}
#todoapp{
  background-color: #fff;
  position: relative;
  margin-top: 30px;
  text-align: center;
  border: 1px #ccc solid;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; 
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .6);
}
#todoapp:before{
  position: absolute;
  content: '';
  height: 100%;
  width: 2px;
  border-right: 1px rgba(250,0,0,.5) solid;
  border-left: 1px rgba(250,0,0,.5) solid;
  left: 50px;
}
#head{
  border-radius: inherit;
  text-align: left;
  position: relative;
  width: 100%;
  height: 65px;
}
#head:before{
  content: '';
  height: 15px;
  background-color: #8d7d77;
  position: absolute;
  left: 0;
  right: 0;
}
#toggle-all{
  position: absolute;
  top: 15px;
  left: 0;
  width: 50px;
  height: 50px;
  padding-left: 15px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-appearance: none;
  appearance: none;
}
#toggle-all:before{
  content: "»";
  line-height: 40px;
  font-size: 2.5em;
  color: #d9d9d9;
  text-shadow: 0 -1px 0 #bfbfbf;
}
#toggle-all:checked:before{
  color: #666;
}
#new-todo{
  position: absolute;
  left: 55px;
  right: 0;
  top: 15px;
  bottom: 0;
  padding: 15px;
  border: none;
  background-color: inherit;
  outline: none;
}
#main{
  border-top: 1px dotted #adadad;
  position: relative;
  z-index: 2;
  width: 100%;
}
#todo-list{
  padding-left: 0;
  margin: 0;
  position: relative;
  width: 100%;
}
#todo-list li{
  text-align: left;
  border-bottom: 1px dotted #adadad;
  position: relative;
  width: 100%;
}
#todo-list li:last-child {
  border-bottom: none;
}
#todo-list li:hover .destroy{
  display: block;
}
#todo-list li .toggle{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5px;
  height: 40px;
  width: 40px;
  margin: auto 0;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
}
#todo-list li .toggle:after{
  content: '✔';
  font-size: 1.5em;
  color: #d9d9d9;
  text-shadow: 0 -1px 0 #bfbfbf;
  line-height: 40px;
}
#todo-list li .toggle:checked:after{
  color: #85ada7;
}
#todo-list li label{
  display: block;
  margin-left: 55px;
  text-align: left;
  padding: 15px;
}
#todo-list li .destroy{
  display: none;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  font-size: 1.2em;
}
#todo-list li .destroy:hover{
  color: red;
  font-weight: bold;
}
#todo-list li .destroy:after{
  content:'✖';
  color: rgba(250,0,0,.5);
}
#footer{
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  height: 35px;
  text-align: center;
}
#footer:before{
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 50px;
  z-index: -1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 
              0 8px 0 -3px rgb(255, 255, 255),
              0 11px 1px -3px rgba(0, 0, 0, 0.3), 
              0 43px 0 -6px rgba(255, 255, 255, 0.8), 
              0 44px 2px -6px rgba(0, 0, 0, 0.2);
}
#footer #todo-count{
  margin: 16px 0 0 16px;
  position: relative;
  float: left;
  text-align: left;
  font-size: .6em;
  text-transform: uppercase;
  letter-spacing: .1em;
}
#footer #filters{
  position: absolute;
  right: 50px;
  left: 0px;
  bottom: -11px;
}
#footer #filters li{
  display: inline-block;
  margin-right: 5px;
}
#footer #filters li a{
  text-decoration: none;
  color: #777;
  font-size: .7em;
}
#footer #filters li a:hover{
  color: #000;
}
#footer #clear-completed{
  margin: 16px 12px 0 0;
  position: relative;
  float: right;
  font-size: .1em;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.1);
  color: #777;
  padding: 2px 10px;
  border-radius: 10px;
}
#footer #clear-completed:hover{
  color: #000;
}
#info{
  margin-top: 100px;
  text-align: center;
  color: rgba(0,0,0,.3);
  text-transform: uppercase;
  letter-spacing: .1em;
}
#info p{
  margin: 0;
  font-size: .8em;
}
#info span{
  font-size: .05em;
  font-weight: bold;
}





