<header id="header">
    <h1> 
      Park's Todos
      <small> with Ember.JS</small>  
    </h1>
    
</header>

<section id="todoapp">
  <header id="head">
    {{input type="checkbox" id="toggle-all" checked=allAreDone}}
    {{input type="text" id="new-todo" placeholder="Add a new todo!" 
              value=newTitle action="createTodo"}}
  </header>

  <section id="main">
    {{outlet}}
  </section>

  <footer id="footer">
    <span id="todo-count">
      <strong> {{remaining}} </strong> {{inflection}} left
    </span>
    <ul id="filters">
      <li>
        {{#link-to "embertodo.index" activeClass="selected"}}All{{/link-to}}
      </li>
      <li>
        {{#link-to "embertodo.active" activeClass="selected"}}Active{{/link-to}}
      </li>
      <li>
        {{#link-to "embertodo.completed" activeClass="selected"}}Completed{{/link-to}}
      </li>
    </ul>
    {{#if hasCompleted}}
      <button id="clear-completed" {{action "clearCompleted"}}>
        Clear Completed ({{completed}})     
      </button>
    {{/if}}
  </footer>
</section>

<footer id="info">
  <p><small>Double-click to edit todos</small></p>
  <span><small>by Park Lai</small></span>
</footer>